@font-face {
  font-family: Avenir;
  src: url(./fonts/AvenirLTStd-Light.otf);
  font-weight: 200;
}

@font-face {
  font-family: Avenir;
  src: url(./fonts/AvenirLTStd-Book.otf);
  font-weight: 300;
}

@font-face {
  font-family: Avenir;
  src: url(./fonts/AvenirLTStd-Roman.otf);
  font-weight: 400;
}

@font-face {
  font-family: Circular;
  src: url(./fonts/CircularStd-Book.otf);
  font-weight: 400;
}

@font-face {
  font-family: Circular;
  src: url(./fonts/CircularStd-Medium.otf);
  font-weight: 500;
}

@font-face {
  font-family: Circular;
  src: url(./fonts/CircularStd-Bold.otf);
  font-weight: 700;
}

$Avenir: "Avenir",
sans-serif;
$Circular: "Circular",
sans-serif;

* {
  scroll-behavior: smooth;
}

body {
  font-family: $Avenir;
  overflow-x: hidden;
  color: #454545;
  font-size: 1.125rem;
  font-weight: 300;
  padding-top: 75px;

  a {
    color: #296db3;
  }

  label {
    font-weight: 500;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  .font-family-circular {
    font-family: $Circular;
    font-weight: bold;
  }

  .font-family-avenir {
    font-family: $Avenir;
  }

  h1,
  .h1 {
    font-size: 3rem;
    @media(max-width: 768px){
      font-size:2.25rem;
    }
  }

  h2,
  .h2 {
    font-size: 2.25rem;
    @media(max-width: 768px){
      font-size:1.75rem;
    }
  }

  h3,
  .h3 {
    font-size: 2rem;
    @media(max-width: 768px){
      font-size:1.25rem;
    }
  }

  h4,
  .h4 {
    font-size: 1.75rem;
    @media(max-width: 768px){
      font-size:1.55rem;
    }
  }

  h5,
  .h5 {
    font-size: 1.5rem;
    @media(max-width: 768px){
      font-size:1.35rem;
    }
  }

  h6,
  .h6 {
    font-size: 1.125rem;
    @media(max-width: 768px){
      font-size:1rem;
    }
  }
}

.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #fff;

  .navbar {
    min-height: 75px;
    padding: 0;

    @media (max-width:991px) {
      .cta_btn{
        position: absolute;
        right: 65px;
        top: 17px;
      }
  
      .mobile_menu_trigger{
        position: absolute;
        top: 18px;
        right: 20px;
      }
    }

    @media (max-width:576px) {
      .cta_btn{
        top: 10px;
      }
    }

    .navbar-brand{
      img{
        @media (max-width:991px) {
          width: 150px;
          position: fixed;
          top: 26px;
          left: 20px;
        }
      }
    }

    .nav-item {

      a,
      label {
        font-size: 1rem;
        font-weight: 500;

        &.nav-link {
          color: #454545;
          margin-top: 3px;
          font-weight: 500;

          // @media (min-width: 1025px) {
          //   text-transform: uppercase;
          //   font-size: 13px;
          //   letter-spacing: 0.1rem;
          // }

          &.active,
          &:hover {
            color: #29b32f;
          }
        }
      }
    }

    #platformDropdownMenuLink {
      display: none;
      cursor: pointer;

      &:checked~label {
        color: #29b32f;
      }

      &:checked~.platform-menu {
        transform: translateY(0);
        visibility: visible;
      }
    }

    #platformDropdownMenuLabel {
      cursor: pointer;
    }

    .mega-menu{
      .nav{
        .nav-link{
          padding: 0;
          letter-spacing: normal;

          &.active{
            background-color: transparent;
          }
          
          &:first-child.active{
            cursor: text;
            h5{
              color: #29b32f !important;
            }
            background: transparent;
            padding: 35px 40px 25px 30px;
            border-radius: 10px 0 0 10px;

            @media(min-width: 1024px) { 
              margin: 0 -33px 30px 0;
              background: #f4f7fb;
            }
          }
          &:hover{
            h5{
              color: #29b32f !important;
            }
          }
          margin-bottom: 15px;

          h5{
            text-transform: capitalize;
          }
          p{
            text-transform: none;
            color: rgb(104, 104, 104);
            font-size: 0.85rem;
          }
        }
      }
    }

    .platform-menu {
      position: absolute;
      z-index: 10;
      width: 100vw;
      background: white;
      left: 0;
      top: 75px;
      max-height: calc(100vh - 75px);
      overflow-y: scroll;
      box-shadow: 0px 6px 12px rgba(19, 50, 82, 0.1);
      transition: 0.2s all linear;
      transform: translateX(-100vw);
      visibility: hidden;

      @media (min-width: 768px) {
        transform: translateY(-100vh);
      }

      .platform-menu__close {
        height: 30px;
        width: 30px;
        overflow: hidden;
        cursor: pointer;

        svg {
          fill: #9dbcdc;
          transition: 0.3s fill linear;
        }

        &:hover {
          svg {
            fill: #1e5083;
          }
        }
      }

      .platform-grid {
        grid-template-columns: repeat(auto-fill, minmax(299.34px, 1fr));
        grid-gap: 17.55px;
        display: grid;

        .platform-item {
          background: #ffffff;
          // border: 1px solid #d8e4f1;
          box-shadow: 0px 4px 7px rgba(30, 80, 131, 0.07);
          transition: all ease-in 0.2s;
          border-radius: 5px;
          overflow: hidden;
          height: 191px;
          padding: 36px 31.2px;
          position: relative;

          &:hover {
          box-shadow: 0px 4px 15px rgba(30, 80, 131, 0.07);
          transform: translateY(-3px);
          transition: all ease-in 0.2s;
          text-decoration: none;

            .platform-item__heading {
              color: #29b32f;
            }
          }

          &.active {
            background: #29b32f;

            .platform-item__heading,
            .platform-item__text {
              color: white;
            }

            .platform-item__badge {
              background: white;
              color: #29b32f;
            }
          }

          .platform-item__badge {
            right: 10.34px;
            top: 9px;
            position: absolute;
            background: rgba($color: #d8e4f1, $alpha: 0.6);
            border-radius: 3px;
            font-size: 10px;
            letter-spacing: 2px;
            color: #9dbcdc;
            padding: 3px 8px;
          }

          .platform-item__heading {
            font-size: 18px;
            color: #1e5083;
            transition: 0.2s all ease;
          }

          .platform-item__text {
            font-size: 14px;
            color: #747474;
          }
        }
      }

      .platform-menu__link {
        color: #296db3;
        font-weight: 300;
        font-size: 18px;
        display: block;
      }
    }

    .dropdown-menu {
      background: #ffffff;
      border: 1px solid #d8e4f1;
      box-sizing: border-box;
      box-shadow: 0px 6px 12px rgba(19, 50, 82, 0.1);
      border-radius: 10px;
      top: 58px;

      a {
        color: #296db3;
        &:active{
          background-color: #296db3;
          color: #ffffff;
        }
      }
    }
  }
}

.hero {
  width: 100%;
  background-size: cover;
  background-position-y: center;
  position: relative;

  .card {
    border: none;
  }

  .hero__image {
    width: 100%;
  }

  &.home-hero {
    background: url(./img/index/hero-bg.svg) no-repeat bottom center;
    background-size: cover;

    @media (min-width: 1200px) {
      background: url(./img/index/hero-bg.svg) no-repeat center center;
      background-size: cover;
    }

    .hero__text {
      max-width: 540px;
      @media (min-width: 1251px) {
        margin-top: -1rem;
      }
    }

    .home-hero-animation {
      position: relative;

      svg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
      }

      @media (min-width: 1200px) {
        width: 560px;
        height: 372px;
      }

      .center-square {
        position: absolute;
        background: #172A4D;
        width: 219px;
        height: 219px;
        border-radius: 53px;
        left: 31.61%;
        top: 21.77%;
        z-index: 10;
        opacity: 0;


        .images {
          position: absolute;
          border-radius: 53px;
          overflow: hidden;
          top: 0;
          left: 0;
          width: 181px;
          height: 181px;
          transform-origin: center;

          .image-1,
          .image-2 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
            display: none;
          }
        }

        .circles {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          transform-origin: center;

          &.rotate {
            animation: rotate 60s linear infinite normal forwards;
            z-index: -1;

            .circle img,
            .circle .text-content {
              animation: rotate 60s linear infinite reverse forwards;
            }

            @keyframes rotate {
              from {
                transform: rotate(0);
              }

              to {
                transform: rotate(360deg);
              }
            }

            &:hover {
              animation-play-state: paused;

              .circle img,
              .circle .text-content {
                animation-play-state: paused;
              }
            }
          }
        }

        .circle {
          width: 23.26px;
          height: 23.26px;
          border-radius: 50%;
          position: absolute;
          overflow: hidden;
          display: grid;
          place-items: center;
          box-shadow: 0px 6px 12px rgba(19, 50, 82, 0.1);

          &.pulse {
            animation: pulsate-bck 1.5s ease-in-out infinite both;

            @keyframes pulsate-bck {
              0% {
                transform: scale(1);
              }

              50% {
                transform: scale(0.9);
              }

              100% {
                transform: scale(1);
              }
            }

            &:hover {
              animation-play-state: paused;
            }
          }

          img {
            opacity: 0;
          }

          .text-content {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 20;
            display: grid;
            place-items: center;
            opacity: 0;
            padding: 20px;
            transition: 0.2s ease-in;

            p {
              font-size: 17px;
            }
          }

          &:hover {
            .text-content {
              opacity: 1;
            }
          }

          &.onboarding-circle {
            left: 44.22%;
            top: 11.56%;
            background: #8DBF57;

            .text-content {
              background: #701778;
            }
          }

          &.time-circle {
            left: 20.41%;
            top: 21.77%;
            background: #396EAE;

            .text-content {
              background: #1E8323;
            }
          }

          &.analytics-circle {
            left: 10.88%;
            top: 44.22%;
            background: #CCCCCC;

            .text-content {
              background: #1E5083;
            }
          }

          &.disciplinary-circle {
            left: 20.41%;
            top: 68.71%;
            background: #D2E1EF;

            .text-content {
              background: #D07908;

            }
          }

          &.travel-circle {
            left: 44.22%;
            top: 78.23%;
            background: #FFFFFF;

            .text-content {
              background: #2E3B84;
            }
          }

          &.exit-circle {
            left: 68.03%;
            top: 68.71%;
            background: #CCCCCC;

            .text-content {
              background: #686016;
            }
          }

          &.leave-circle {
            left: 78.23%;
            top: 44.22%;
            background: #EF7438;

            .text-content {
              background: #7F5C4C;
            }
          }

          &.hris-circle {
            left: 68.03%;
            top: 21.09%;
            background: #932020;

            .text-content {
              background: #932020;
            }
          }
        }
      }

      .blue-square {
        position: absolute;
        width: 110px;
        height: 110px;
        background: #D8E4F1;
        border-radius: 28px;
        top: 65.86%;
        left: 0%;
        opacity: 0;
      }

      .purple-square {
        position: absolute;
        background: #ECD6EE;
        width: 106px;
        height: 106px;
        border-radius: 26px;
        left: 81.07%;
        opacity: 0;
      }

      .green-square {
        position: absolute;
        background: #D8F1D9;
        width: 62px;
        height: 62px;
        border-radius: 15px;
        left: 82.68%;
        top: 83.33%;
        opacity: 0;
      }
    }
  }

  &.pricing-hero {
    background: rgba(#d8e4f1, 0.4);
    background: linear-gradient(to bottom, rgba(#d8e4f1, 0.4) 60%, white 60%);
    position: relative;

    @media (min-width: 1200px) {
      background: linear-gradient(to bottom, rgba(#d8e4f1, 0.4) 80%, white 80%);
    }
  }

  &.core-hero {
    position: relative;
    background-color: #f4f7fb;
    z-index: 1;

    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-repeat: no-repeat;
    }

    &::before {
      background-image: url(./img/core/contact-hero-left.png);
      background-position: top left;

    }

    &::after {
      @media(min-width:1200px){
        background-image: url(./img/core/contact-hero-right.png);
        background-position: right bottom;
      }
    }

  }

  &.payroll-hero {
    background: url(./img/payroll/curve.svg);
    background-size: cover;
    background-position: bottom center;
    padding-bottom: 65px;

    .card {
      box-shadow: 0px 35px 115px rgba(19, 50, 82, 0.15);
      border-radius: 10px;

      .card-body {
        padding: 65px 70px;
        padding-right: 15px;

        @media(max-width: 992px) {
          padding: 45px 50px;
        }
      }
    }

    .floating-image {
      filter: drop-shadow(0px 25px 115px rgba(19, 50, 82, 0.2));
      margin-top: -45px;

      @media (min-width: 1200px) {
        margin-top: -125px;
      }
    }
  }

  &.performance-hero {
    background: url(./img/performance/curve.svg);
    background-size: cover;
    background-position: bottom center;

    .card {
      box-shadow: 0px 35px 115px rgba(19, 50, 82, 0.15);
      border-radius: 10px;

      .card-body {
        padding: 60px 70px;
        padding-right: 15px;

        @media(max-width: 992px) {
          padding: 45px 50px;
        }
      }
    }

    .floating-image {
      filter: drop-shadow(0px 25px 115px rgba(19, 50, 82, 0.2));
      margin-top: -45px;

      @media (min-width: 1200px) {
        margin-top: -115px;
      }
    }
  }

  &.recruitment-hero {
    background: url(./img/recruitment/curve.svg);
    background-size: cover;
    background-position: bottom center;
    padding-top: 63px;
    padding-bottom: 65px;

    .card {
      box-shadow: 0px 35px 115px rgba(19, 50, 82, 0.15);
      border-radius: 10px;

      .card-body {
        padding: 60px 70px;
        padding-right: 15px;

        @media(max-width: 992px) {
          padding: 45px 50px;
        }
      }

      .magnet-rectangle {
        position: absolute;
        width: 73.78px;
        height: 91.18px;
        box-shadow: 0px 3px 7px rgba(19, 50, 82, 0.07);
        border-radius: 5px;
        display: grid;
        place-items: center;

        &:first-of-type {
          background: #D8E4F1;
          transform: matrix(0.87, -0.49, 0.49, 0.87, 0, 0);
          left: -7%;
          top: -30px;
          opacity: 1;
        }

        &:nth-of-type(2) {
          transform: matrix(0.97, -0.25, 0.25, 0.97, 0, 0);
          left: 10%;
          top: -3%;
          background: #FDE7CB;
        }

        &:last-of-type {
          transform: matrix(0.59, -0.81, 0.81, 0.58, 0, 0);
          top: 25%;
          left: 0%;
          background: #D8F1D9;
        }

        @media (min-width: 992px) {
          &:first-of-type {
            transform: matrix(0.87, -0.49, 0.49, 0.87, 0, 0);
            left: -20%;
            top: -30px;
          }

          &:nth-of-type(2) {
            transform: matrix(0.97, -0.25, 0.25, 0.97, 0, 0);
            left: 10%;
            top: -3%;
          }

          &:last-of-type {
            transform: matrix(0.59, -0.81, 0.81, 0.58, 0, 0);
            top: 25%;
            left: 0%;
          }
        }

        @media (min-width: 1200px) {
          &:first-of-type {
            transform: matrix(0.87, -0.49, 0.49, 0.87, 0, 0);
            left: -20%;
            top: -40px;
          }

          &:nth-of-type(2) {
            transform: matrix(0.97, -0.25, 0.25, 0.97, 0, 0);
            left: 4%;
            top: -3%;
          }

          &:last-of-type {
            transform: matrix(0.59, -0.81, 0.81, 0.58, 0, 0);
            top: 25%;
            left: -10%;
          }
        }
      }
    }

    .floating-image {
      filter: drop-shadow(0px 25px 115px rgba(19, 50, 82, 0.2));
      margin-top: -45px;

      @media (min-width: 1200px) {
        margin-top: -105px;
      }
    }
  }

  &.about-hero {
    background: linear-gradient(to bottom, #fff 75%, #f4f7fb 75%);

    .image-wrapper {
      box-shadow: 0px 0px 115px rgba(19, 50, 82, 0.1);
      padding: 39px 33px;
      background: white;

      @media (max-width: 1199.98px) {
        left: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        max-width: 100vw;
        position: relative;
        right: 50%;
        width: 100vw;
      }

      @media (min-width: 1200px) {
        margin-right: -13.5vw;
        border-radius: 10px 0 0 10px;
        padding-right: 0px;
      }

      img {
        width: 100%;
      }
    }
  }

  &.customer-stories-hero {
    .image-wrapper {
      padding-right: 0px;
      background: white;
      margin-right: -10vw;

      img {
        width: 100%;
      }
    }
  }

  &.careers-hero {
    .plane-wrapper {
      width: 25%;
      position: absolute;
      right: -50%;
      top: 110%;
    }

    .image-bg {
      position: relative;

      &::before,
      &::after {
        content: "";
        top: 50%;
        left: 0;
        z-index: -1;
        position: absolute;
        border-radius: 10px;
      }

      &::before {
        background: #9ddca0;
        transform: translateY(-50%) rotate(7.71deg);
        height: 88.6073298429%;
        width: 88.60901114%;
      }

      &::after {
        left: 100%;
        top: 52%;
        background: #296db3;
        transform: translate(-100%, -50%) rotate(-4.88deg);
        height: 96.0628272251%;
        width: 96.0634200137%;
      }

      .video {
        box-shadow: 0px 25px 115px rgba(19, 50, 82, 0.1);
        border-radius: 10px;
      }

      .plane {
        position: absolute;
        left: 89.42%;
        top: 41.67%;
      }
    }
  }

  &.faq-hero {
    background: linear-gradient(82.5deg, #effcef -0.25%, #eef5ff 64.5%);
    border-bottom: 1px solid #d8e4f1;
  }
}

.info-section {
  .info {

    @media (max-width: 767.98px) {
      &::before {
        content: "";
        height: 100%;
        width: 100vw;
        background: linear-gradient(to bottom, #E8EFF7 90%, #fff 90%) no-repeat;
        position: absolute;
        left: 0;
        z-index: -1;
      }
    }

    @media (min-width: 768px) and (max-width: 991.98px) {
      &::before {
        content: "";
        height: 100%;
        width: 100vw;
        background: linear-gradient(to bottom, #E8EFF7 75%, #fff 75%) no-repeat;
        position: absolute;
        left: 0;
        z-index: -1;
      }
    }

    @media (min-width: 992px) and (max-width: 1199.98px) {
      &::before {
        content: "";
        height: 100%;
        width: 100vw;
        background: linear-gradient(to bottom, #E8EFF7 85%, #fff 85%) no-repeat;
        position: absolute;
        left: 0;
        z-index: -1;
      }
    }


    &:nth-of-type(odd) {
      .info__image-wrapper::after {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        left: -34%;
        animation-delay: 2000ms;
      }
    }

    &:nth-of-type(even) {
      .info__image-wrapper::after {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        right: -34%;
      }
    }

    &:first-child {
      .info__image-wrapper::after {
        top: -2%;
        height: 100%;
        width: 110%;
      }
    }

    &:last-child {
      .info__image-wrapper::after {
        top: -10%;
        height: 112%;
      }
    }

    .info__image-wrapper {

      @media (min-width: 1200px) {
        position: relative;

        &::after {
          content: "";
          background: #E8EFF7;
          position: absolute;
          z-index: -1;
          width: 110%;
          height: 85%;
          top: 13%;
        }
      }

      .info__image {
        filter: drop-shadow(0px 15px 25px rgba(19, 50, 82, 0.1));
      }
    }

    .info__subtitle {
      font-weight: 500;
      font-size: 15px;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: #1e5083;
    }

    .info__title {
      font-weight: bold;
      line-height: 1.375;
      color: #1e5083;
    }

    .info__desc {
      line-height: 1.688;
      color: #454545;
    }
  }
}

.services {
  .service {
    @media (min-width: 992px) and (max-width: 1199.98px) {
      &::after {
        width: 2px;
        height: 100%;
        background: #D8E4F1;
        position: absolute;
        content: "";
        top: 0;
        left: 56px;
        z-index: -1;
      }

      &:last-of-type {
        &:after {
          display: none;
        }
      }
    }
  }
}

.simple {
  &.simple-bg {
    background-image: url(./img/simple-bg.svg);
    background-position: left top;
    background-size: contain;
    background-repeat: no-repeat;

    @media (min-width: 992px) {
      background-image: url(./img/simple-bg-xl.svg);
      background-position: center center;
      background-size: auto 100%;
    }
  }

  .simple__box {
    background: #ffffff;
    box-shadow: 0px 15px 65px rgba(19, 50, 82, 0.075);
    border-radius: 10px;
    overflow: hidden;
    height: 425px;
    position: relative;

    .simple__text {
      padding: 2.8125rem 2rem 0 2rem;

      h3 {
        font-weight: bold;
        color: #1e5083;
      }

      p {
        font-size: 1rem;
      }
    }

    .simple__image {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}

.reviews {
  .reviews__title {
    max-width: 754px;
    font-weight: bold;
    color: #454545;
  }

  .controls {
    cursor: pointer;
  }

  .card {
    box-shadow: 0px 6px 12px rgba(19, 50, 82, 0.1);
    border-radius: 10px;
    border: 1px solid #d8e4f1;
  }
}

//clients sections
.clients {
  .clients__text {
    max-width: 754px;

    .clients__title {
      font-weight: bold;
      color: #454545;
    }
  }

  .clients__grid {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));


    @media (min-width: 992px) {
      grid-column-gap: 53px;
      grid-template-columns: repeat(auto-fit, minmax(207px, 1fr));
      grid-row-gap: 96px;
    }
  }
}

.details {
  .detail {
    .detail__image {
      position: relative;

      img {
        position: relative;
        z-index: 1;
        filter: drop-shadow(0px 15px 25px rgba(19, 50, 82, 0.1));
        border-radius: 10px;
      }

      &::before {
        content: "";
        bottom: 0;
        left: 0;
        width: 87%;
        height: 82%;
        position: absolute;
        background: #fbcb8c;
        border-radius: 20px;
        transform: rotate(0deg);
        transition: 0.5s all ease;
        transition-delay: 1s;
      }

      &.aos-animate::before {
        transform: rotate(-7.5deg);
      }
    }

    &:first-of-type {
      .detail__image {
        &::before {
          background: #9ddca0;
        }
      }
    }

    &:nth-of-type(even) {
      .detail__image {
        &::before {
          bottom: 0;
          left: unset;
          right: 0;
          width: 87%;
          height: 82%;
          position: absolute;
          background: #9dbcdc;
        }

        &.aos-animate::before {
          transform: rotate(7.5deg);
        }
      }
    }
  }
}

//footer design
.footer {
  background-color: #133252;
  background-image: url(./img/footer-bg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right 305px;

  @media (min-width: 1200px) {
    background-position: right bottom;
    background-size: 40%;
    background-image: url(./img/footer-bg-xl.svg);
  }

  .footer__top {
    border-bottom: 1px solid #1e5083;

    .footer__text {
      flex-wrap: wrap;

      h3 {
        font-weight: bold;

        .footer__text--blue {
          color: #9dbcdc;
        }
      }

      .footer__button {
        padding: 10px 30px;
      }
    }

    .footer__image {
      height: 100%;
      width: 100%;
    }
  }

  .footer__middle {
    border-bottom: 1px solid rgba($color: #1e5083, $alpha: 0.5);

    .footer__title {
      color: #9dbcdc;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-size: 1rem;
    }

    .footer__list {
      list-style: none;
      color: #f4f7fb;
      padding-left: 0;

      .footer__list-item {
        font-size: 1rem;

        .footer__list-link {
          color: inherit;
        }
      }

      .footer__list-item:not(:last-of-type) {
        margin-bottom: 6px;
      }
    }
  }

  .footer__bottom {
    .footer__address {
      color: #9dbcdc;
    }
  }
}

#doMoreWithHR {
  background: linear-gradient(to bottom, white 70%, #f4f7fb);
}

#cta {
  .cta__image-wrapper {
    &::after {
      content: "";
      background: #1e5083;
      mix-blend-mode: multiply;
      opacity: 0.5;
      position: absolute;
      top: 0;
      left: 15px;
      width: 100%;
      height: 100%;
    }

    .cta__image {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

#product-comparison {
  position: relative;
  background: linear-gradient(to top, white 80%, #f4f7fb);
  z-index: 1;

  .background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &::after {
      background: url(./img/comparison-bg-right.png);
      background-position: top right;
      background-repeat: no-repeat;
    }

    &::before {
      background: url(./img/comparison-bg-left.png);
      background-position: bottom left;
      background-repeat: no-repeat;
    }
  }

  .product-comparison__selector-grid {

    overflow-x: auto;
    scrollbar-width: none;
    display: flex;

    &::-webkit-scrollbar {
      width: 0px;
      background: transparent;
      display: none;
    }

    @media (min-width: 1200px) {
      display: block;
      overflow-x: hidden;

      .product-comparison__selector {
        margin-bottom: 20px;
        min-width: initial !important;
        width: 100%;
        margin-right: 0px;
      }
    }

    .product-comparison__radio {
      visibility: hidden;
      display: none;

      &:checked+.product-comparison__selector {
        background: #f4f7fb;
        border: 1px solid #9dbcdc;
      }
    }

    .product-comparison__selector {
      border: 1px solid #d8e4f1;
      border-radius: 5px;
      height: 80px;
      min-width: 237px;
      display: grid;
      place-items: center;
      transition: 0.2s all ease;
      cursor: pointer;
      margin-right: 16px;

      &:hover {
        border: 1px solid #29b32f;
      }

      img {
        max-height: 32px;
      }
    }
  }

  .rival-info {
    display: none;
  }

  .product-comparison__information {
    background: #ffffff;
    border: 1px solid #d8e4f1;
    box-shadow: 0px 3px 7px rgba(19, 50, 82, 0.07);
    border-radius: 10px;
    overflow: hidden;

    .comparison-points {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;

      @media (min-width: 768px) {
        grid-template-columns: 20.7% 1fr 1fr;
      }

      p {
        padding: 44px 30px;
        margin-bottom: 0;
        border-right: 1px solid #d8e4f1;
        width: 100%;
        height: 100%;
        align-items: center;

        &:first-of-type {
          font-weight: 900;
          text-align: left;
        }

        @media (max-width: 992px) {
          padding: 15px;
        }
      }

      &:nth-of-type(even) {
        background: #f4f7fb;
      }
    }
  }
}

#FAQ {
  background: #f4f7fb;

  &.tab-content {
    background: #ffffff;
  }

  .FAQ__list {
    // max-width: 840px;
    // margin: auto;
    padding-left: 0;
    list-style-type: none;

    .FAQ__item {
      position: relative;
      @media(min-width: 1024px){text-align: justify;}
      display: flex;

      .question {
        max-width: 700px;
        cursor: pointer;
        margin-bottom: 22px;
      }

      .answer {
        height: 0;
        overflow: hidden;
        transition: 0.2s all ease;
      }

      input[type="radio"] {
        visibility: hidden;
        display: none;

        &:checked~.answer {
          height: auto;
          overflow: unset;
        }

        &:checked~.question {
          color: #296db3;
        }
      }

      &::before {
        content: "";
        background: url(./img/FAQ/question.svg) no-repeat;
        color: #296db3;
        position: relative;
        display: block;
        font-weight: 900;
        font-size: 24px;
        text-align: center;
        min-width: 41px;
        min-height: 41px;
        border-radius: 10px;
        margin-right: 25px;
      }

      &::after {
        // content: "+";
        position: relative;
        top: -5px;
        // right: -30px;
        font-weight: 900;
        font-size: 24px;
        margin-left: 50px;
      }

      // @media (min-width: 1200px) {
      //   &::after {
      //     right: -60px;
      //   }
      // }
    }
  }
}

#features {
  .features__media {
    width: 100%;
    height: 467px;
    background: #f4f7fb;
    border: 1px solid #9dbcdc;
    box-sizing: border-box;
    box-shadow: 0px 3px 7px rgba(19, 50, 82, 0.07);
    border-radius: 10px;
    position: relative;

    .circle {
      position: absolute;
      width: 10px;
      height: 10px;
      left: 22px;
      top: 20px;
      background: #d8e4f1;
      border-radius: 50%;
      display: inline-block;

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        background: #d8e4f1;
        border-radius: 50%;
        margin-left: 15px;
      }

      &::after {
        margin-left: 30px;
      }
    }
  }

  .carousel-indicators {
    position: relative;
    justify-content: flex-start;
    padding-left: inherit;
    margin-right: auto;
    margin-left: auto;
  }

  .horizontal-scroll {
    min-height: 150px;
    margin-top: calc(-111px / 2);
    position: relative;
    z-index: 5;

    .slide__item {
      min-width: 293px;
      height: 95px;
      margin-top: 8px;
      margin-right: 23px;
      background: #ffffff;
      transform-origin: center;
      border: 1px solid #d8e4f1;
      box-shadow: 0px 3px 7px rgba(19, 50, 82, 0.07);
      border-radius: 5px;
      transition: 0.3s all ease;
      display: flex;
      align-items: center;
      padding: 20px 31px;
      cursor: pointer;

      &.active {
        height: 111px;
        min-width: 291px;
        width: 291px;
        margin-top: 0px;
        box-shadow: 0px 6px 12px rgba(19, 50, 82, 0.1);
      }

      &:hover {
        .slide__icon {
          animation: pulsate-bck 1.5s ease-in-out infinite both;

          @keyframes pulsate-bck {
            0% {
              transform: scale(1);
            }

            50% {
              transform: scale(0.9);
            }

            100% {
              transform: scale(1);
            }
          }

        }
      }

      .slide__icon {
        margin-right: 22px;
        width: 56px;
        height: 56px;
      }
    }
  }

  .carousel-container {
    position: relative;

    .carousel-control {
      position: absolute;
      right: 0;
      top: 0;

      .left,
      .right {
        transition: 0.2s opacity linear;
      }

      .disabled {
        opacity: 0.1;
      }
    }
  }
}

#contact {
  background: linear-gradient(to bottom, white 40vh, rgba(#d8e4f1, 0.4) 40vh);

  .contact__information {
    list-style-type: none;
  }

  .contact-form {
    background: #ffffff;
    box-shadow: 0px 25px 115px rgba(19, 50, 82, 0.2);
    border-radius: 10px;
    overflow: hidden;

    .contact__map {
      height: 45vh;
      overflow: hidden;
    }
  }
}

#customer-stories-reviews {
  background: linear-gradient(to bottom, #133252 78%, transparent 78%);

  .review__list {
    list-style-type: none;
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    margin-bottom: 118px;

    &::-webkit-scrollbar {
      width: 0px;
      background: transparent;
      display: none;
    }

    .review__item {
      min-width: 605px;
      height: 438px;
      background: #ffffff;
      border: 1px solid #d8e4f1;
      box-shadow: 0px 6px 12px rgba(19, 50, 82, 0.1);
      border-radius: 10px;
      padding: 47px 50px 53.96px 52px;
      margin-right: 40px;
    }
  }

  .video {
    background: white;
    box-shadow: 0px 25px 115px rgba(19, 50, 82, 0.2);
    border-radius: 10px;
  }
}

#payroll-features,
.payroll-features {
  .features__grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

    @media (min-width: 992px) {
      grid-gap: 30px;
    }

    .feature {
      height: 95px;
      // border: 1px solid #d8e4f1;
      box-shadow: 0px 3px 7px rgba(19, 50, 82, 0.07);
      border-radius: 5px;
      padding: 20px;
      background: #fff;


      .img__wrapper {
        min-width: 56px;
        min-height: 56px;
        border-radius: 5px;
      }
    }
  }
}

#payroll-marketplace {
  .marketplace__feature:not(:last-of-type)::after {
    width: 1px;
    background: #9dbcdc;
    height: 80%;
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
}

#what-else {
  .what-else__list {
    list-style-type: none;
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      width: 0px;
      background: transparent;
      display: none;
    }

    .what-else__list-item {
      box-shadow: 0px 3px 7px rgba(19, 50, 82, 0.07);
      border-radius: 10px;
      padding: 39px 44px;
      padding-bottom: 30px;
      width: 400px;
      min-width: 400px;
      margin-right: 20px;

      .what-else__list-title {
        font-weight: 900;
        font-size: 64px;
        text-transform: uppercase;
      }

      &.define {
        background: #f4f7fb;
        border: 1px solid #9dbcdc;

        p {
          color: #1e5083;
        }
      }

      &.track {
        background: #f9f3fa;
        border: 1px solid #d099d5;

        p {
          color: #701778;
        }
      }

      &.review {
        background: #f5f6fb;
        border: 1px solid #a7afdd;

        p {
          color: #2e3b84;
        }
      }

      &.act {
        background: #fcf4f4;
        border: 1px solid #e69e9e;

        p {
          color: #932020;
        }
      }
    }
  }
}

#plan-details {
  padding: 30px;
  background: #ffffff;
  border: 1px solid #d8e4f1;
  box-sizing: border-box;
  box-shadow: 0px 3px 7px rgba(19, 50, 82, 0.07);
  border-radius: 10px;
}

#productQty {
  width: 69px;
  height: 46.92px;
  border: 1px solid #9dbcdc;
  border-radius: 3px;
}

#summaryOfPurchase {
  .card {
    border: 1px solid #d8e4f1;
    border-radius: 20px;
    padding: 40px 30px;

    ul {
      list-style-type: none;
    }
  }
}

#aboutUsValue {

  @media (min-width: 1200px) {
    background: url(./img/about-us/value-curve.svg) no-repeat left;
    background-position-y: -60px;
    background-size: contain;
  }

  .row {
    .image-wrapper {
      box-shadow: 0px 0px 115px rgba(19, 50, 82, 0.1);
      background: white;
      padding: 39px 33px;

      img {
        width: 100%;
      }
    }
  }

  .row:first-of-type .image-wrapper {
    border-radius: 0 10px 10px 0;
    padding-left: 0px;
    margin-left: -10vw;
  }

  .row:nth-of-type(2) .image-wrapper {
    border-radius: 10px 0 0 10px;
    padding-right: 0px;
    margin-right: -10vw;
  }
}

#coreValues {
  .values__list {
    list-style-type: none;

    .values__item {
      min-width: 400px;
      width: 400px;
      height: 300px;
      box-shadow: 0px 3px 7px rgba(19, 50, 82, 0.07);
      border-radius: 10px;
      margin-right: 20px;
      padding: 130px 41px 20px 41px;
      position: relative;

      .values__image {
        position: absolute;
        top: 32.41px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 0;
      }

      h4,
      p {
        z-index: 1;
        position: relative;
      }

      &.candor {
        background: #f4f7fb;
        border: 1px solid #9dbcdc;

        h4 {
          color: #133252;
        }

        p {
          color: #1e5083;
        }
      }

      &.selflessness {
        background: #f9f3fa;
        border: 1px solid #d099d5;

        h4 {
          color: #460f4b;
        }

        p {
          color: #701778;
        }
      }

      &.innovation {
        background: #FCF4F4;
        border: 1px solid #E69E9E;

        h4 {
          color: #5C1414;
        }

        p {
          color: #932020;
        }
      }

      &.excellence {
        background: #FFFAF5;
        border: 1px solid #FBCB8C;

        h4 {
          color: #8F5305;
        }

        p {
          color: #D07908;
        }
      }

      &.judgement {
        background: #F5F5F5;
        border: 1px solid #AAAAAA;

        h4 {
          color: #454545;
        }

        p {
          color: #454545;
        }
      }

      &.thirst {
        background: #f4fbf4;
        border: 1px solid #9ddca0;

        h4 {
          color: #135216;
        }

        p {
          color: #1e8323;
        }
      }

      &.communication {
        background: #f5f6fb;
        border: 1px solid #a7afdd;

        h4 {
          color: #1d2553;
        }

        p {
          color: #2e3b84;
        }
      }
    }

    #plane-3 {
      position: absolute;
      width: 11%;
      z-index: 10;
      left: 75vw;
      margin-top: -25.64px;
    }
  }
}

#plane-4 {
  position: absolute;
  left: 30%;
}

#jobOpenings {
  background: url(./img/careers/curve.svg) no-repeat top center;
  background-size: cover;

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-gap: 50px;

    @media (min-width: 300px) {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .card {
      padding: 18px 45px 45px 45px;
      border: 1px solid #d8e4f1;
      box-shadow: 0px 3px 7px rgba(19, 50, 82, 0.07);
      border-radius: 5px;
    }
  }
}

#evenMoreJuice {
  background: #133252;
}

.add-in-product {
  padding: 23px 30px;
  border-radius: 10px;

  input[type="number"] {
    width: 87px;
    height: 47px;
    border: 1px solid #9dbcdc;
    border-radius: 3px;
    font-size: 18px;
  }
}

//components
.platform-box {
  padding: 29px 34px;
  height: 279px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;

  .platform-box__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 29px 34px;
    height: 75px;

    a {
      text-decoration: underline;
    }
  }

  &.payroll {
    background: #f4f7fb;

    .platform-box__title {
      color: #133252;
    }

    .platform-box__bottom {
      background: #d8e4f1;
    }
  }

  &.recruitment-management {
    background: #f2fff2;

    .platform-box__title {
      color: #135216;
    }

    .platform-box__bottom {
      background: #d8f1d9;
    }
  }

  &.performance-management {
    background: #fff8f1;

    .platform-box__title {
      color: #8f5305;
    }

    .platform-box__bottom {
      background: #fde7cb;
    }
  }

  // 
.tabloid{
  position: relative;
  overflow: hidden;

  // .tab-pane{
  //   &>p,h4{
  //     color: #ffffff;
  //   }
  // }

  &::after{
    // content: "";
    position: absolute;
    width: 100%;
    background: #1e4f82;
    height: 230px;
    top: 0;
    left: 0;
    z-index: 0;

    @media (max-width: 992px) {
      height: 500px;
    }
  }

  *{
    position: relative;
    z-index: 1;
  }
}
}

.horizontal-scroll {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  z-index: 100;

  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    display: none;
  }
}

.price {
  &.price-shadow {
    filter: drop-shadow(0px 20px 55px rgba(19, 50, 82, 0.25));
  }

  @media (max-width: 764.98px) {
    border-radius: 0;
    box-shadow: none;
  }

  .price__wrapper {
    padding: 0;
    padding-bottom: 40px;

    .header,
    .price__features {
      padding: 31.94px 41.6px;

      @media (max-width: 992px) {
        padding: 20px 25px;
      }
    }

    .price__band {
      padding: 20.61px 41.87px;

      @media (max-width: 992px) {
        padding: 15px 20px;
      }

      p {
        line-height: 23px;
      }
    }

    &.core-price {
      background: #1e5083;
      border-radius: 20px 0px 0px 20px;

      &.light-core {
        background: #f4f7fb;
        min-height: 721.733px;

        .price__band {
          background: #d8e4f1;
        }

        @media (max-width: 991.98px) {
          box-shadow: none;
        }
      }

      @media (max-width: 991.98px) {
        border-radius: 20px;
        box-shadow: 0px 20px 55px rgba(19, 50, 82, 0.25);
        max-width: 535px;
      }

      .price__band {
        background: white;
      }

      .price__features {
        list-style-image: url(./img/tick-white.svg);

        .price__feature::before {
          content: "";
          margin-right: 15px;
        }
      }
    }

    &.premium-price {
      background: #133252;
      border-radius: 0px 20px 20px 0px;

      &.light-premium {
        background: #f4fbf4;
        min-height: 721.733px;

        .price__band {
          background: #d8f1d9;
        }

        @media (max-width: 991.98px) {
          box-shadow: none;
        }
      }

      @media (max-width: 991.98px) {
        border-radius: 20px;
        box-shadow: 0px 20px 55px rgba(19, 50, 82, 0.25);
        max-width: 535px;
      }

      .price__band {
        background: #d8f1d9;
      }

      .price__features {
        list-style-image: url(./img/tick-green.svg);

        li.price__feature::before {
          content: "";
          margin-right: 15px;
        }

        .price__feature:first-of-type::before {
          visibility: hidden;
        }
      }
    }

    //same for all
    .price__features {
      list-style-type: none;
      list-style-position: inside;

      .price__feature {
        font-family: $Circular;

        &:not(:last-of-type) {
          margin-bottom: 15px;
        }
      }
    }
  }
}

//sign up page

.sign-up-bg {
  background: url(./img/sign-up/curve.svg) no-repeat;
  background-size: cover;
  background-position: top center;
}

.verify-bg {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url(./img/verify-email/curve.svg) no-repeat;
    background-size: contain;
    background-position: top center;
    z-index: -1;
  }
}

.add-company-bg {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url(./img/add-company-details/curve.svg) no-repeat;
    background-size: contain;
    background-position-x: center;
    z-index: -1;
  }
}

.sign-up-pricing-bg {
  background: url(./img/sign-up-pricing/curve.svg) no-repeat;
  background-size: cover;
  background-position: bottom center;
}

.add-ons-bg {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url(./img/add-ons/curve.svg) no-repeat;
    background-size: contain;
    background-position: top center;
    z-index: -1;
  }
}

.payment-summary-bg {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url(./img/payment-summary/curve.svg) no-repeat;
    background-size: contain;
    background-position: top center;
    z-index: -1;
  }
}

.legal-section {
  padding-left: 0;

  li {
    list-style-position: inside;

    ol {
      padding-left: 0;
      list-style-type: lower-roman;
    }
  }
}


.img-dir{
  filter: grayscale(1);
  transition: all ease-in 0.2s;
  &:hover{
    filter: grayscale(0);
    transition: all ease-in 0.2s;
    transform: scale(1.05);
  }
  &:active{
    filter: grayscale(0);
    transition: all ease-in 0.2s;
    transform: scale(1);
  }
}