@font-face {
    font-family: Avenir;
    src: url(./fonts/AvenirLTStd-Roman.otf);
    font-weight: normal;
}

@font-face {
    font-family: Circular;
    src: url(./fonts/CircularStd-Medium.otf);
    font-weight: normal;
}

@font-face {
    font-family: Circular;
    src: url(./fonts/CircularStd-Bold.otf);
    font-weight: bold;
}

$Avenir: 'Avenir';
$Circular: 'Circular';


body {
    font-family: Circular Std;
    overflow-x: hidden;

    p {
        color: #454545;
        font-weight: 300;
    }

    p,
    a,
    li {
        font-size: 18px;
        font-family: $Avenir;
    }

    a {
        color: #296DB3;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
        font-family: $Circular;
    }

}

.navigation {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #fff;

    .navbar {
        min-height: 75px;
        padding: 0;


        .nav-item {

            a,
            label {
                font-size: 1rem;

                &:hover {
                    color: #29B32F;
                }
            }

            .nav-link {
                &.active {
                    color: #29B32F;
                }
            }
        }

        #platformDropdownMenuLink {
            display: none;
            cursor: pointer;

            &:checked~label {
                color: #29B32F;
            }

            &:checked~.platform-menu {
                transform: translateY(0);
                visibility: visible;
            }
        }

        #platformDropdownMenuLabel {
            cursor: pointer;
        }

        .platform-menu {
            position: absolute;
            z-index: 10;
            width: 100vw;
            background: white;
            left: 0;
            max-height: 670px;
            overflow-y: scroll;
            box-shadow: 0px 6px 12px rgba(19, 50, 82, 0.1);
            transition: 0.2s all linear;
            transform: translateX(-100vw);
            visibility: hidden;

            @media (min-width: 768px) {
                transform: translateY(-100vh);
            }

            .platform-grid {
                grid-template-columns: repeat(auto-fill, minmax(299.34px, 1fr));
                grid-gap: 17.55px;
                display: grid;

                .platform-item {
                    background: #F4F7FB;
                    border: 1px solid #D8E4F1;
                    box-sizing: border-box;
                    box-shadow: 0px 2px 4px rgba(30, 80, 131, 0.1);
                    border-radius: 5px;
                    overflow: hidden;
                    height: 191px;
                    padding: 36px 31.2px;
                    position: relative;

                    .platform-item__badge {
                        right: 10.34px;
                        top: 9px;
                        position: absolute;
                        background: #D8E4F1;
                        opacity: 0.6;
                        border-radius: 3px;
                        font-size: 10px;
                        letter-spacing: 2px;
                        color: #9DBCDC;
                        padding: 3px 8px;
                    }

                    .platform-item__heading {
                        font-size: 18px;
                    }

                    .platform-item__text {
                        font-size: 14px;
                    }
                }
            }

            .platform-menu__link {
                color: #296DB3;
                font-weight: 300;
                font-size: 18px;
                display: block;
            }
        }

        .dropdown-menu {
            background: #FFFFFF;
            border: 1px solid #D8E4F1;
            box-sizing: border-box;
            box-shadow: 0px 6px 12px rgba(19, 50, 82, 0.1);
            border-radius: 10px;
            top: 60px;

            a {
                color: #296DB3;
            }
        }
    }
}

.hero {
    width: 100%;
    background-size: cover;
    background-position-y: center;
    position: relative;

    &.home-hero {
        background-image: url(./img/hero-mask.svg);
    }

    &.pricing-hero {
        background: rgba(#D8E4F1, 0.4);
        background: linear-gradient(to bottom, rgba(#D8E4F1, 0.4) 80%, white 80%);
        position: relative;

        &::after,
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }

        &::after {
            background: url(./img/pricing-hero-right.png);
            background-position: top right;
            background-repeat: no-repeat;
        }

        &::before {
            background: url(./img/pricing-hero-left.png);
            background-position-x: left;
            background-position-y: 70%;
            background-repeat: no-repeat;
        }

        .price {
            .price__wrapper {
                padding: 0;
                height: 683px;
                box-shadow: 0px 20px 55px rgba(19, 50, 82, 0.25);

                .header,
                .price__features {
                    padding: 31.94px 41.6px;
                }

                .price__band {
                    padding: 20.61px 41.87px;

                    p {
                        line-height: 23px;
                    }
                }

                &.core-price {
                    background: #1E5083;
                    border-radius: 20px 0px 0px 20px;

                    @media (max-width: 768px) {
                        border-radius: 20px;
                    }

                    .price__band {
                        background: white;
                    }

                    .price__features {
                        .price__feature::before {
                            content: url(./img/tick-white.svg);
                            margin-right: 10px;
                        }
                    }
                }

                &.premium-price {
                    background: #133252;
                    border-radius: 0px 20px 20px 0px;

                    @media (max-width: 768px) {
                        border-radius: 20px;
                    }

                    .price__band {
                        background: #D8F1D9;
                    }

                    .price__features {
                        .price__feature::before {
                            content: url(./img/tick-green.svg);
                            margin-right: 10px;
                        }

                        .price__feature:first-of-type::before {
                            visibility: hidden;
                        }
                    }
                }

                .price__features {
                    list-style-type: none;

                    .price__feature {
                        font-family: $Circular;
                        text-indent: -1em;

                        &:not(:last-of-type) {
                            margin-bottom: 15px;
                        }
                    }
                }


            }
        }
    }

    &.contact-hero {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background: #F4F7FB url(./img/contact-hero-left.png);
            background-position: top left;
            background-repeat: no-repeat;
        }

        .contact-hero__image {
            background: #F4F7FB url(./img/contact-hero-right.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center bottom;
        }
    }

    .hero__text {

        .hero__title {
            color: #1E5083;
            font-weight: bold;
        }

        .hero__button {
            font-weight: 500;
            // font-size: 18px;
            padding: 18px 53px;
            box-shadow: 0px 9px 30px rgba(19, 50, 82, 0.2);
            border-radius: 5px;
        }
    }
}

.info-section {
    .info {

        &:nth-of-type(odd) {
            .info__image-wrapper::after {
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                left: 0;
            }
        }

        &:nth-of-type(even) {
            .info__image-wrapper::after {
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                right: 0;
            }
        }

        &:first-child {
            .info__image-wrapper::after {
                top: 7%;
                height: 100%;
                width: 90%;
            }
        }

        &:last-child {
            .info__image-wrapper::after {
                top: -10%;
                height: 120%;
            }
        }


        .info__image-wrapper {
            position: relative;

            &::after {
                content: "";
                background: #D8E4F1;
                position: absolute;
                width: 80%;
                height: 90%;
                top: 20%;
                z-index: -1;
            }
        }

        .info__subtitle {
            font-weight: 500;
            font-size: 15px;
            letter-spacing: 3px;
            text-transform: uppercase;
            color: #1E5083;
        }

        .info__title {
            font-weight: bold;
            line-height: 1.375;
            color: #1E5083;
        }

        .info__desc {
            line-height: 1.688;
            color: #454545;
        }

        .info__button {
            color: #296DB3;
            display: inline-flex;
            // font-size: 18px;
            align-items: center;

            &:hover {
                .arrow {
                    margin-left: 20px;
                }
            }

            .arrow {
                width: 15.53px;
                height: 10.69px;
                margin-left: 15px;
                transition: 0.2s all ease;
                background-size: contain;
                background-repeat: no-repeat;
                background-image: url(./img/arrow.svg);
            }
        }
    }
}

.simple {
    background-image: url(./img/simple-bg.svg);
    background-position: left top;
    background-size: contain;
    background-repeat: no-repeat;


    .simple__box {
        background: #FFFFFF;
        box-shadow: 0px 15px 65px rgba(19, 50, 82, 0.075);
        border-radius: 10px;
        overflow: hidden;
        height: 425px;
        position: relative;

        .simple__text {
            padding: 2.8125rem 2rem 0 2rem;

            h3 {
                font-weight: bold;
                color: #1E5083;
            }

            p {
                font-size: 1rem;
            }
        }

        .simple__image {
            position: absolute;
            bottom: 0;
            left: 0;
        }


    }

    .reviews {
        .reviews__title {
            max-width: 754px;
            font-weight: bold;
            color: #454545;
        }

        .controls {
            cursor: pointer;
        }

        .card {
            box-shadow: 0px 6px 12px rgba(19, 50, 82, 0.1);
            border-radius: 10px;
            border: 1px solid #D8E4F1;
        }
    }
}

//clients sections
.clients {

    .clients__text {
        max-width: 754px;

        .clients__title {
            font-weight: bold;
            color: #454545;
        }
    }

    .clients__grid {
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(206.84px, 1fr));
    }
}

//footer design
.footer {
    background: #133252;
    background-image: url(./img/footer-bg.svg);
    background-position: right bottom;
    background-size: 40%;
    background-repeat: no-repeat;

    .footer__top {
        border-bottom: 2px solid #1E5083;

        .footer__text {

            flex-wrap: wrap;

            h3 {
                font-weight: bold;

                .footer__text--blue {
                    color: #9DBCDC;
                }
            }

            .footer__button {
                padding: 10px 30px;
            }
        }

        .footer__image {
            height: 100%;
            width: 100%;
        }
    }

    .footer__middle {
        border-bottom: 2px solid #1E5083;

        .footer__title {
            color: #9DBCDC;
            text-transform: uppercase;
            letter-spacing: 3px;
            font-size: 1rem;
        }

        .footer__list {
            list-style: none;
            color: #F4F7FB;
            padding-left: 0;


            .footer__list-item {
                font-size: 1rem;
            }

            .footer__list-item:not(:last-of-type) {
                margin-bottom: 15px;
            }
        }
    }

    .footer__bottom {
        .footer__address {
            color: #9DBCDC;
        }
    }


}

#doMoreWithHR {
    background: linear-gradient(to bottom, white 70%, #F4F7FB);
}

#cta {
    .cta__image-wrapper {
        &::after {
            content: "";
            background: #1E5083;
            mix-blend-mode: multiply;
            opacity: 0.5;
            position: absolute;
            top: 0;
            left: 15px;
            width: 100%;
            height: 100%;
        }

        .cta__image {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}

#product-comparison {
    position: relative;
    background: linear-gradient(to top, white 80%, #F4F7FB);

    .background {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &::after,
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        &::after {
            background: url(./img/comparison-bg-right.png);
            background-position: top right;
            background-repeat: no-repeat;
        }

        &::before {
            background: url(./img/comparison-bg-left.png);
            background-position: bottom left;
            background-repeat: no-repeat;
        }
    }

    .product-comparison__selector-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        display: grid;
        grid-gap: 1em;

        @media (min-width: 768px) {
            display: block;

            .product-comparison__selector {
                margin-bottom: 20px;
            }
        }

        .product-comparison__radio {
            visibility: hidden;
            display: none;

            &:checked+.product-comparison__selector {
                background: #F4F7FB;
                border: 1px solid #9DBCDC;
            }
        }

        .product-comparison__selector {
            border: 1px solid #D8E4F1;
            border-radius: 5px;
            height: 80px;
            width: 100%;
            display: grid;
            place-items: center;
            transition: 0.2s all ease;
            cursor: pointer;

            &:hover {
                border: 1px solid #29b32f;
            }

            img {
                max-height: 32px;
            }
        }

    }

    .rival-info {
        display: none;
    }

    .product-comparison__information {
        background: #FFFFFF;
        border: 1px solid #D8E4F1;
        box-shadow: 0px 3px 7px rgba(19, 50, 82, 0.07);
        border-radius: 10px;
        overflow: hidden;

        .comparison-points {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;

            @media (min-width: 768px) {
                grid-template-columns: 20.7% 1fr 1fr;
            }

            p {
                padding: 44px 30px;
                margin-bottom: 0;
                border-right: 1px solid #D8E4F1;
                width: 100%;
                height: 100%;
                align-items: center;
                text-align: justify;

                &:first-of-type {
                    font-weight: 900;
                    text-align: left;
                }

                &:not(:last-of-type) {
                    display: flex;
                }
            }

            &:nth-of-type(even) {
                background: #F4F7FB;
            }
        }
    }

}

#FAQ {
    background: #F4F7FB;

    .FAQ__list {
        max-width: 840px;
        margin: auto;
        list-style-type: none;

        .FAQ__item {
            position: relative;
            margin-left: 50px;
            margin-right: 50px;
            text-align: justify;

            .question {
                max-width: 700px;
                cursor: pointer;
                margin-bottom: 22px;
            }

            .answer {
                height: 0;
                overflow: hidden;
                transition: 0.2s all ease;
            }

            input[type="radio"] {
                visibility: hidden;
                display: none;

                &:checked~.answer {
                    height: 130px;
                    overflow: unset;
                }

                &:checked~.question {
                    color: #296DB3;
                }

            }

            &::before {
                content: "?";
                color: #296DB3;
                position: absolute;
                left: -80px;
                display: inline-block;
                font-weight: 900;
                font-size: 24px;
                line-height: 41px;
                text-align: center;
                width: 41px;
                height: 41px;
                background: #D8E4F1;
                border-radius: 10px;
            }

            &::after {
                content: "+";
                position: absolute;
                top: -5px;
                right: -60px;
                font-weight: 900;
                font-size: 24px;
            }
        }
    }
}

#features {
    .features__list {
        list-style-type: none;
        display: flex;
        overflow-x: auto;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            width: 0px;
            background: transparent;
            display: none;
        }

        .features__media {
            width: 100%;
            height: 467px;
            background: #F4F7FB;
            border: 1px solid #9DBCDC;
            box-sizing: border-box;
            box-shadow: 0px 3px 7px rgba(19, 50, 82, 0.07);
            border-radius: 10px;
            position: relative;

            .circle {
                position: absolute;
                width: 10px;
                height: 10px;
                left: 22px;
                top: 20px;
                background: #D8E4F1;
                border-radius: 50%;
                display: inline-block;

                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    background: #D8E4F1;
                    border-radius: 50%;
                    margin-left: 15px;
                }

                &::after {
                    margin-left: 30px;
                }
            }

        }

    }
}

#contact {
    background: linear-gradient(to bottom, white 40vh, rgba(#D8E4F1, 0.4) 40vh);

    .contact__information {
        list-style-type: none;
    }

    .contact-form {
        background: #FFFFFF;
        box-shadow: 0px 25px 115px rgba(19, 50, 82, 0.2);
        border-radius: 10px;
        overflow: hidden;

        .form__map {
            height: 45vh;
            background: url(./img/contact/map.jpg);
            background-size: cover;
        }

        .form__inputs {
            padding: 37px 56px;

            .form-control {
                border: 1px solid #9DBCDC;
                border-radius: 3px;
                min-height: 40px;
            }
        }
    }
}

//components
.platform-box {
    padding: 29px 34px;
    height: 279px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;

    .platform-box__bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 29px 34px;
        height: 75px;

        a {
            text-decoration: underline;
        }
    }

    &.payroll {
        background: #F4F7FB;

        .platform-box__title {
            color: #133252;
        }

        .platform-box__bottom {
            background: #D8E4F1;
        }
    }

    &.recruitment-management {
        background: #F2FFF2;

        .platform-box__title {
            color: #135216;
        }

        .platform-box__bottom {
            background: #D8F1D9;
        }
    }

    &.performance-management {
        background: #FFF8F1;

        .platform-box__title {
            color: #8F5305;
        }

        .platform-box__bottom {
            background: #FDE7CB;
        }
    }
}

.carousel {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    z-index: 10;
    height: 111px;
    margin-top: calc(-111px/2);

    &::-webkit-scrollbar {
        width: 0px;
        background: transparent;
        display: none;
    }

    input[type="radio"] {
        display: none;
        visibility: hidden;

        &:checked+.carousel__item {
            height: 111px;
            margin-top: 0px;
            box-shadow: 0px 6px 12px rgba(19, 50, 82, 0.1)
        }
    }

    .carousel__item {
        min-width: 293px;
        height: 95px;
        margin-top: 8px;
        margin-right: 23px;
        background: #FFFFFF;
        transform-origin: center;
        border: 1px solid #D8E4F1;
        box-shadow: 0px 3px 7px rgba(19, 50, 82, 0.07);
        border-radius: 5px;
        transition: 0.3s all ease;
        display: flex;
        align-items: center;
        padding: 20px 31px;
        cursor: pointer;

        .carousel__icon {
            margin-right: 22px;
            width: 56px;
            height: 56px;
        }
    }
}