.container {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: 1200px) {
    max-width: 1250px !important;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.padding-bottom-small {
  padding-bottom: 7vw !important;
}

.padding-top-small {
  padding-top: 7vw !important;
}

.padding-x-normal {
  padding-left: 10vw !important;
  padding-right: 10vw !important;
}

.padding-left-normal {
  padding-left: 10vw !important;
}

.margin-left-normal {
  margin-left: 10vw !important;
}

.padding-right-normal {
  padding-right: 10vw !important;
}

.margin-right-normal {
  margin-right: 10vw !important;
}

.padding-y-normal {
  padding-top: 10vw !important;
  padding-bottom: 10vw !important;
}

.padding-top-normal {
  padding-top: 10vw !important;
}

.padding-bottom-normal {
  padding-bottom: 10vw !important;
}

.margin-bottom-normal {
  margin-bottom: 10vw !important;
}

.margin-bottom-small {
  margin-bottom: 7vw !important;
}

.margin-y-normal {
  margin-top: 10vw !important;
  margin-bottom: 10vw !important;
}

.margin-y-large {
  margin-top: 15vw !important;
  margin-bottom: 15vw !important;
}

.margin-y-small {
  margin-top: 7vw !important;
  margin-bottom: 7vw !important;
}

.padding-y-small {
  padding-top: 7vw !important;
  padding-bottom: 7vw !important;
}

.padding-normal {
  padding: 10vw !important;
}

.margin-normal {
  margin: 10vw !important;
}

//color
.text-grey {
  color: #aaaaaa;

  * {
    color: #aaaaaa !important;
  }
}

.text-secondary {
  color: #777777 !important;

  * {
    color: #777777 !important;
  }
}

.text-dark {
  color: #333333 !important;

  * {
    color: #333333 !important;
  }
}

.text-powderblue {
  color: #9dbcdc;

  * {
    color: #9dbcdc !important;
  }
}

.text-lightblue {
  color: #d8e4f1;

  * {
    color: #d8e4f1 !important;
  }
}

.text-blue {
  color: #1e5083 !important;

  * {
    color: #1e5083 !important;
  }
}

.text-blueprimary {
  color: #296db3 !important;

  * {
    color: #296db3 !important;
  }
}

.text-darkblue {
  color: #133252 !important;

  * {
    color: #133252 !important;
  }
}

.text-green {
  color: #29b32f !important;

  * {
    color: #29b32f !important;
  }
}

.text-midgreen {
  color: #1e8323;

  * {
    color: #1e8323 !important;
  }
}

.text-darkgreen {
  color: #135216;

  * {
    color: #135216 !important;
  }
}

.text-lightgreen {
  color: #9ddca0;

  * {
    color: #9ddca0 !important;
  }
}

//font sizes
.text-12px {
  font-size: 12px;

  * {
    font-size: 12px !important;
  }
}

.text-13px {
  font-size: 13px;

  * {
    font-size: 13px !important;
  }
}

.text-14px {
  font-size: 14px;

  * {
    font-size: 14px !important;
  }
}

.text-15px {
  font-size: 15px;

  * {
    font-size: 15px !important;
  }
}

.text-16px {
  font-size: 16px;

  * {
    font-size: 16px !important;
  }
}

.text-18px {
  font-size: 18px;

  * {
    font-size: 18px !important;
  }
}

.text-decoration-underline {
  text-decoration: underline;
}

//letter-spacing
.letter-2px {
  letter-spacing: 2px;
}

.letter-3px {
  letter-spacing: 3px;
}

.line-1point5 {
  line-height: 1.5;
}

//width
.maxwidth-558px {
  max-width: 558px;
}

.maxwidth-420px {
  max-width: 420px;
}

.maxwidth-1000px {
  max-width: 1000px;
}

//backgrounds
.blue-bg {
  background: #f4f7fb;
}

.lightblue-bg-opacity-half {
  background: rgba(#d8e4f1, 0.5);
}

.lightblue-bg {
  background: #d8e4f1;
}

.darkblue-bg {
  background: #133252;
}

.grey-bg {
  background: #f9fafb;
}

.white-bg {
  background: #fff;
}

//buttons
.btn {
  &.button {
    font-weight: 500;
    padding: 7px 30px;
    border-radius: 5px;

    &.paystack-button {
      background: #133252;

      span {
        display: flex;
        align-items: center;

        &::before {
          content: "";
          display: inline-block;
          width: 18px;
          height: 18px;
          background: url(./img/paystack-icon.svg);
          margin-right: 10px;
        }
      }
    }

    &.arrow-button {
      span {
        display: flex;
        align-items: center;

        &::after {
          content: "";
          display: inline-block;
          width: 18px;
          height: 18px;
          background: url(./img/arrow-white.svg) no-repeat;
          background-position-y: center;
          margin-left: 10px;
        }
      }
    }
  }

  &.button-large {
    padding: 18px 53px;
    border-radius: 5px;
    font-weight: 500;
  }

  &.button-shadow {
    box-shadow: 0px 9px 30px rgba(19, 50, 82, 0.2);
  }

  &.btn-primary {
    background-color: #296db3;
    border-color: #296db3;
  }

  &.btn-success {
    background-color: #29b32f;
    border-color: #29b32f;
  }
}

.arrow__link {
  display: inline-flex;
  align-items: center;

  &:hover {
    &::after {
      margin-left: 20px;
    }
  }

  &::after {
    content: "";
    width: 15.53px;
    height: 10.69px;
    margin-left: 15px;
    transition: 0.2s all ease;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(./img/arrow.svg);
  }
}

//select

.select-wrapper {
  position: relative;

  .seamless-select {
    appearance: none;
    position: relative;
    cursor: pointer;
  }

  &::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #296db3;
    transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    z-index: 9;
  }
}

.appearance-textfield {
  appearance: textfield;
}
.overflow-h{
  overflow: hidden;
}
.custom-checkbox {
  .inside-label {
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    margin-right: 31px;

    span {
      float: left;
      transform: translate3d(0, 0, 0);
      font-weight: 800;
      display: grid;
      place-items: center;

      &:first-child {
        position: relative;
        width: 24px;
        height: 24px;
        border-radius: 3px;
        border: 1px solid #9dbcdc;
        transition: all 0.2s ease;

        svg {
          fill: none;
          width: 50%;
          height: 50%;
          stroke: #fff;
          stroke-width: 2;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-dasharray: 16px;
          stroke-dashoffset: 16px;
          transition: all 0.3s ease;
          transition-delay: 0.1s;
          transform: translate3d(0, 0, 0);
        }
      }
    }

    &:hover span:first-child {
      border-color: #29b32f;
    }
  }

  .checkbox:checked+.inside-label span:first-child {
    background: #29b32f;
    border-color: #29b32f;
    animation: myAnimation 0.4s ease;
  }

  .checkbox:checked+.inside-label span:first-child svg {
    stroke-dashoffset: 0;
  }
}

.tick-icon {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}

.dropdown-toggle {
  display: flex;
  align-items: center;

  &::after {
    margin-left: 6px !important;
    margin-bottom: -2px;
    vertical-align: unset !important;
  }
}

.form__inputs {
  padding: 37px 56px;

  .form-control {
    border: 1px solid #9dbcdc;
    border-radius: 3px;
    min-height: 40px;
  }
}

.slide-scroll {
  overflow-x: auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    display: none;
  }

  .container {
    display: flex;
  }
}

.search {
  position: relative;

  .form-control {
    background: #FFFFFF;
    border: 1px solid #9DBCDC;
    box-shadow: 0px 25px 115px rgba(19, 50, 82, 0.2);
    border-radius: 10px;
    min-height: 78px;
    padding: 10px 30px 10px 75px;

    &::placeholder {
      color: #777;
      font-weight: 300;
      font-size: 18px;
    }
  }

  .submit {
    all: unset;
    height: 24px;
    width: 24px;
    display: block;
    background: url(./img/search.svg) no-repeat center center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 25px;
    cursor: pointer;
  }
}

.nav.nav-tabs {
  .nav-link {
    color: #777777;
    position: relative;
    padding-bottom: 1rem;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      left: 50%;
      bottom: -1px;
      background: transparent;
      border-radius: 3px 3px 0px 0px;
      transition: 0.3s all ease;
    }

    &.active {
      color: #296DB3;
      background-color: transparent;
      border-color: unset;
      border: none;

      &::after {
        background: #296DB3;
        transform: translateX(-50%);
      }
    }
  }
}

//images
.half-width-image {
  max-width: 100%;
  height: auto;

  @media (min-width: 992px) {
    width: 50vw;
    max-width: unset;
  }
}

.blend-multiply {
  mix-blend-mode: multiply;
}

.fade-in {
  animation-name: fadeIn;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

.lsp-1 {
  letter-spacing: 1px;
}
.lsp-2 {
  letter-spacing: 2px;
}
.lsp-3 {
  letter-spacing: 3px;
}
.lsp-4 {
  letter-spacing: 4px;
}